# secret data
secrets.json
db_cnf.json

# production static files
.static_root/

# IDE settings
settings.json

# modules
node_modules/

# DB model
kbblog/profiles/migrations/*

# package
package-lock.json
yarn.lock
Pipfile.lock

# css
*.css
*.css.map

# local media files
kbblog/media
