[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.15"
social-auth-app-django = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
mysqlclient = "*"
django-ckeditor = "*"
boto3 = "*"
django-storages = "*"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.7"

[scripts]
start = "python3 ./kbblog/manage.py runserver 8000"
makemigrations = "python3 ./kbblog/manage.py makemigrations"
migrate = "python3 ./kbblog/manage.py migrate"
reset = "python3 ./kbblog/manage.py migrate --fake profiles zero"
showmigrations = "python3 ./kbblog/manage.py showmigrations"
sqlmigrate = "python3 ./kbblog/manage.py sqlmigrate"
collectstatic = "python3 ./kbblog/manage.py collectstatic"
