@include breakPoint(mobile) {
    .kblee-logo {
        // @include mobile-convertor(fonr., 24);
        font-size: 24px;
        #{$forward-float}: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .timeline {
        $blockItem: &;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 47px;
            width: 2px;
            height: 100%;
            background-color: rgba(0,0,0,.12);
        }
        &__item {
            &-desc {
                max-width: calc(100% - 48px);;
            }
        }
        &--cross {
            #{$blockItem}__item {
                &-title {
                    display: none;
                    // text-align: #{$forward-float};
                }
                &:nth-child(2n) {
                    flex-direction: row;
                }
            }
        }
    }
}