
{% extends "profiles/base.html" %}
{% load static %}
{% block content %}
<div class="login-section">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="login-card common-card">
            {% if login_fail_check %}
            <div>
                잘못된 이메일 또는 비밀번호입니다.
            </div>
            {% endif %}
            <div class="login-card__input-wrap transition-input-wrap">
                {{ form.username }}
                <label for="username" class="transition-label">ID</label>
            </div>
            <div class="login-card__input-wrap transition-input-wrap">
                {{ form.password }}
                <label for="password" class="transition-label">PW</label>
            </div>

            <div class="login-card__btns">
                <button type="submit" class="login-card__submit" name="login_submit" transition-init="transparent">
                    <span>Sign In</span>
                </button>
                <div class="login-card__social-login">
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}" class="google-login">
                        Login with Google
                    </a>
                </div>
            </div>

        </div>
    </form>
</div>
{% endblock %}